h1 { 
	text-align: center;
	font-size: 45px;
} 

h2 {
	font-size: 30px;
} 


	
h4 {
	margin-right: 20vw;
} 

p { 
line-height: 3;
margin-left;
} 
.interviewsbody {
	font-family: Georgia;
	background: url("images/paws.png"); 
	height:1000%;

}

.resourcesbody { 
	background: url("images/resourcesbackground.jpg");
	width: 100%;
	height:100%;
} 

.personalstorybody { 
	background: url("images/personalstory.png");
		
		
} 
.ul2 { 
	align: center;
} 

.indexbody { 
	background: url("images/homepagebackground.png");
	
} 

.prosbody {
	background: url("images/prosbackground.png") ;
} 


.grid { 
  border: 2px white solid;
  width: cover;
  height: cover;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-row: 45% 45% 45%;
  grid-gap: 2vh;
}

.box {
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 3px black solid;
} 
.box1{
	grid-colum-start:2;
	grid-colum-end: span 1;
	grid-row-start:1;
	grid-row-end:span 1;

	
}

.box2{ 
	grid-colum-start:3;
	grid-colum-end: span 1;
	grid-row-start:1;
	grid-row-end:span 1;
	font-size:10px; 
	
} 

.box3{ 
	grid-colum-start:2;
	grid-colum-end: span 1;
	grid-row-start:2;
	grid-row-end:span 1;
	
} 

.box4{ 
	grid-colum-start:3;
	grid-colum-end: span 1;
	grid-row-start:2;
	grid-row-end:span 1;
	
}

.box5{ 
	grid-colum-start:2;
	grid-colum-end: span 1;
	grid-row-start:3;
	grid-row-end:span 1;
	
} 
.box6{
	grid-colum-start:3;
	grid-colum-end: span 1;
	grid-row-start:3;
	grid-row-end:span 1;
} 

.grid2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
}

.box7{
	grid-column-start:1;
	grid-column-end: span 1;
} 

.box8{
	grid-column-start:2;
	grid-column-end: span 1;
} 

.grid3 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	
} 

.box9 {
	grid-column-start: 1;
	grid-column-end: span 1;
} 

.box10 { 
grid-column-start: 3;
grid-column-end: span 1; 
} 

 .box13 { 
	grid-column-start:2;
	grid-column-end: span 1;
	background-color: white; 

} 

.grid4 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1vh;
} 

.box11 { 
	grid-column-start: 1;
	grid-column-end: span 1;
} 
 
 .box12 {
	grid-column start: 3;
	grid-column-end: span 1;
	background-color: white; 
	font-size: 15px; 
	line-spacing: 2; 
 } 
 
 .grid5 {
	grid-template-columns: 1fr 1fr;
	grid-gap: 1vh;
	display:grid;
} 

.box14 { 
	grid-colum-start: 1;
	grid-colum-end: span 1;
} 

.box15 {
	grid-column-start: 2
	grid-column-end: span 1;
} 
 


.grid6 { 
	grid-template-columns: 1fr 1fr;
	grid-gap: 1vh;
	display:grid;
} 

.box16 {
	grid-column-start: 1;
	grid-column-end: span 1;
} 

.box17 { 
	grid-column-start: 2;
	grid-column-end: span 1;
	
} 

.grid7 { 
	display:grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-row: 45& 45%; 
	border-color: black;
	font-size: 35px;

} 

.box18 { 
	grid-column-start: 1;
	grid-column-end: span 1;
	border: black solid 5px;
	
} 

.box19 { 
	grid-column-start: 2;
	grid-column-end: span 1;
	border: black solid 5px;
	
} 

.box20 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end:span 1;
	border: black solid 5px;
	
	
}

.box21 { 
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-column-end: span 1;
	border: black solid 5px;

} 
	
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	width:100%;
	
	
}

.navbar ul { 
list-style-type:none;
margin:0
padding:0;
overflow: hidden;
background-color: white;
} 

.navbar li {
	display:block;
	color: black;
	text-align: center;
	padding: 22px 20px;
	text-decoration: none;
} 
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 30px;

}
li a:hover {
    background-color: #111;
}

.dropdown {
	float:left;
	overflow: hidden;
}

.ul2 { 
background: black;
} 